{% extends "base.html" %}
{% block title %}Последние обновления на сайте{% endblock %}
{% block header %}Последние обновления на сайте{% endblock %}
{% block content %}
    {% load cache %}
    {% include "menu.html" with index=True %}
    {% cache 20 index_page %}
    {% for post in page %}
        {% load thumbnail %}
        <a style="text-decoration:none; color: #000" href="{% url 'post' username=post.author.username post_id=post.id %}
            " role="button">
            {% include "post_item.html" with post=post %}
        </a>
    {% endfor %}
    {% endcache %}

    {% include "paginator.html" %}
{% endblock %}
