{% extends "base.html" %}
{% block title %}
    {% if form.instance.id == None %}
        Страница добавления нового поста
    {% else %}
        Страница редактирования поста
    {% endif %}
{% endblock %}
{% block header %}
    {% if form.instance.id == None %}
        Страница добавления нового поста
    {% else %}
        Страница редактирования поста
    {% endif %}
{% endblock %}
{% block content %}
    {% load user_filters %}
    <div class="row justify-content-center">
        <div class="col-md-8 p-5">
            <div class="card">
                {% if form.errors %}
                    <div class="alert alert-danger" role="alert">
                        Что-то пошло не так. Проверьте введенные данные.
                    </div>
                {% endif %}
                {% if form.instance.id == None %}
                    <div class="card-header">Добавить новый пост</div>
                {% else %}
                    <div class="card-header">Отредактировать пост</div>
                {% endif %}
                <div class="card-body">
                    <form method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        {% for field in form %}
                            <div class="form-group row" aria-required={{ field.field.required }}>
                                <label
                                    for="{{ field.id_for_label }}"
                                    class="col-md-4 col-form-label text-md-right">
                                    {{ field.label }}
                                    {% if field.field.required %}
                                        <span class="required">*</span>
                                    {% endif %}
                                </label>
                                <div class="col-md-6">
                                    {{ field|addclass:"form-control" }}
                                    {% if field.help_text %}
                                        <small
                                            id="{{ field.id_for_label }}-help"
                                            class="form-text text-muted">
                                            {{ field.help_text|safe }}
                                        </small>
                                    {% endif %}
                                </div>
                            </div>
                        {% endfor %}
                        <div class="col-md-6 offset-md-4">
                            <button type="submit" class="btn btn-primary">
                                {% if form.instance.id == None %}
                                    Опубликовать
                                {% else %}
                                    Сохранить изменения
                                {% endif %}
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
